In [115]:
import pandas as pd
import math

In [116]:
data = {'salary': [117.313, 104.002, 113.038, 101.936, 84.560, 
113.136, 80.740, 100.536, 105.052, 87.201, 91.986, 94.868, 90.745, 102.848, 85.927, 112.276, 108.637,
96.818, 92.307, 114.564, 109.714, 108.833, 115.295, 89.279, 81.720, 89.344, 114.426, 90.410, 95.118, 113.382]}

In [117]:
# data = {'salary': [117, 104, 113, 101, 84, 
# 113, 80, 100, 105, 87, 91, 94, 90, 102, 85, 112, 108,
# 96, 92, 114, 109, 108, 115, 89, 81, 89, 114, 90, 95, 113]}

In [118]:
df = pd.DataFrame(data)
df.head()

    salary
0  117.313
1  104.002
2  113.038
3  101.936
4   84.560

In [119]:
df.shape

(30, 1)

In [120]:
total_sum = df.salary.sum()
total_sum

3006.0109999999995

In [121]:
mean = total_sum / (30 - 1)
mean.round(2)

103.66

In [122]:
df['pre_variance'] = (df.salary - mean) ** 2
df['pre_variance'] = df['pre_variance'].round(2)
df.head

<bound method NDFrame.head of      salary  pre_variance
0   117.313        186.53
1   104.002          0.12
2   113.038         88.03
3   101.936          2.96
4    84.560        364.64
5   113.136         89.88
6    80.740        525.12
7   100.536          9.73
8   105.052          1.95
9    87.201        270.75
10   91.986        136.18
11   94.868         77.22
12   90.745        166.68
13  102.848          0.65
14   85.927        314.30
15  112.276         74.31
16  108.637         24.81
17   96.818         46.75
18   92.307        128.79
19  114.564        118.99
20  109.714         36.70
21  108.833         26.81
22  115.295        135.48
23   89.279        206.69
24   81.720        481.17
25   89.344        204.82
26  114.426        116.00
27   90.410        175.44
28   95.118         72.89
29  113.382         94.60>

In [123]:
variance = df.pre_variance.sum() / 30
variance = variance.round(2)
variance

139.3

In [124]:
standard_deviation = math.sqrt(variance)
standard_deviation = standard_deviation.__round__(2)
standard_deviation

11.8

In [132]:
standard_error = standard_deviation / math.sqrt(30)
standard_error = standard_error.__round__(2)
standard_error

2.15

In [126]:
alpha = 0.01
pre_z = 1 - (alpha/2) 
pre_z

0.995

In [127]:
Z = 2.5 + 0.08
Z

2.58

### CONFIDENCE INTERVALS

In [134]:
confidence_interval_s = mean - Z * standard_error
confidence_interval_s = confidence_interval_s.round(3)
confidence_interval_s

98.109

In [135]:
confidence_interval_e = mean + Z * standard_error
confidence_interval_e = confidence_interval_e.round(3)
confidence_interval_e

109.203

In [138]:
print(f'Confidence interval is between ${confidence_interval_s} util ${confidence_interval_e} ')

Confidence interval is between $98.109 util $109.203